<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>node chat</title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-color">
      <div class="contaniner-fluid">
        <div class="nabbar-header">
          <a class="navbar-brand" href="/">NODE CHAT</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">
          <i class="fa fa-user"></i>&nbsp;
          <span data-index="<%= user._id %>" id="from"><%= user.username %></span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          </p>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="contain">
            <div class="col-md-9 col-sm-9 col-xs-9" id="content">
                <div class="panel panel-default" id="content-show">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <i class="fa fa-comment"></i>
                        &nbsp; 您正与 <span id="to"></span> 聊天：
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div id="contents"></div>
                    </div>
                </div>
                <hr/>
                <div id="content-saying">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-pencil-square-o"></i>
                      </span>
                      <input id="input_content" class="form-control" placeholder="请输入聊天内容..."></input>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="send">发送</button>
                      </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" id="users_online">
                <div class="panel panel-default" id="usersbar">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <i class="fa fa-users"></i>&nbsp; 用户列表
                    </h4>
                  </div>
                  <div class="panel-body">
                    <ul class="list-group" id="list" onselectstart="return false"></ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </body>
</html>
