<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>node chat</title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
    <link type="text/css" rel='stylesheet' href='/stylesheets/common.css' />
    <link type="text/css" rel='stylesheet' href='/stylesheets/chat.css' />
  </head>
  <body>
    <div id="contain">
        <div id="content">
            <div id="content_show">
                <div id="contents"></div>
            </div>
            <div id="content_saying">
                <div id="toolbar"></div>
                <div id="input_content" contenteditable="true"></div>
                <div id="sayingto">
                    您好 &nbsp;&nbsp;<span data-index="<%= user._id %>" id="from"><%= user.username %></span>&nbsp;&nbsp;, 您正在对 &nbsp;&nbsp;<span id="to"></span>&nbsp;&nbsp;聊天
                </div>
                <div id="say">发送</div>
            </div>
        </div>
        <div id="users_online">
            <div id="usersbar">
                <div id="user_label">在线用户</div>
                <div id="users_list">
                    <ul id="list"></ul>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
