
<div class="part loginPart">
    <form novalidate="novalidate" id="login" action="/signin" method="post">
        <div id="register-active" class="switch"><i class="fa fa-toggle-on"></i>切换注册</div>
        <h3>登录<p class="status"></p></h3>
        <p>
            <label class="icon" for="username"><i class="fa fa-user"></i></label>
            <input aria-required="true" class="input-control" id="username" placeholder="请输入用户名" name="username" required="" type="text">
        </p>
        <p>
            <label class="icon" for="password"><i class="fa fa-lock"></i></label>
            <input aria-required="true" class="input-control" id="password" placeholder="请输入密码" name="password" required="" type="password">
        </p>
        <p>
            <input class="submit" value="登录" name="submit" type="submit">
        </p>  
    </form>
</div>
