
<div class="part registerPart">
    <form novalidate="novalidate" id="register" action="/signup" method="post">
        <div id="login-active" class="switch"><i class="fa fa-toggle-off"></i>切换登录</div>
        <h3>注册<p class="status"></p></h3>    
        <p>
            <label class="icon" for="user_name"><i class="fa fa-user"></i></label>
            <input aria-required="true" class="input-control" id="user_name" name="username" placeholder="输入英文用户名" required="" type="text">
        </p>
        <p>
            <label class="icon" for="user_email"><i class="fa fa-envelope"></i></label>
            <input aria-required="true" class="input-control" id="user_email" name="useremail" placeholder="输入常用邮箱" required="" type="text">
        </p>
        <p>
            <label class="icon" for="user_pass"><i class="fa fa-lock"></i></label>
            <input aria-required="true" class="input-control" id="user_pass" name="password" placeholder="密码最小长度为6" required="" type="password">
        </p>
        <p>
            <label class="icon" for="user_pass2"><i class="fa fa-retweet"></i></label>
            <input aria-required="true" class="input-control" id="user_pass2" name="confirm" placeholder="再次输入密码" required="" type="password">
        </p>
        <p>
            <input class="submit" value="注册" name="submit" type="submit">
        </p>
    </form>
</div>
