<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>node chat</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/sign.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="sign" id="sign">
        <!-- 登录 -->
        <% include ./signin.ejs %>
        <!-- 注册 -->
        <% include ./signup.ejs %>
    </div>
</body>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/sign.js"></script>
</html>


