*{
  padding: 0px; margin: 0px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333;
}

body{
  height: 100%;
  width: 100%;
  background: url("../images/background.png") repeat-x #b8b6b6;
}

.navbar-brand img {
  width: 50%; height: 50%;
}
.navbar-color { 
  background-color: #333;
}
.navbar-color .navbar-brand,
.navbar-color p i,
.navbar-color p span {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-color .navbar-brand {
  color: #00b5a9;
}
.input-group-btn .btn-default {
  background-color: rgba(16, 177, 169, 0.8);
  color: white;
}
.input-group-btn .btn-default:hover {
  background-color: #00b5a9;
}

li.list-group-item-success {
  background-color: rgba(16, 177, 169, 0.8);
  color: white;
}
li.list-group-item-success i,
li.list-group-item-success span {
  color: white;
}

li.list-group-item-success:hover {
  background-color: #00b5a9;
}

p.navbar-text {
  transition: transform 1s;
  -moz-transition: -moz-transform 1s; /* Firefox 4 */
  -webkit-transition: -webkit-transform 1s; /* Safari and Chrome */
}
p.navbar-text:hover {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); /* Safari 和 Chrome */
  -moz-transform: rotateX(180deg);  /* Firefox */
}

i.fa {
  transition: transform 1s;
  -moz-transition: -moz-transform 1s; /* Firefox 4 */
  -webkit-transition: -webkit-transform 1s; /* Safari and Chrome */
  -o-transition: -o-transform 1s; /* Opera */
}
i.fa:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg); /* IE 9 */
  -moz-transform:rotate(360deg); /* Firefox */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  -o-transform:rotate(360deg); /* Opera */
}

#content, #users_online {
  height: 80vh;
}

#content-show {
  height: 85%;
}
#contents {
  height: 55vh;
  overflow: auto;
}

#content-saying {
  height: 15%;
}

#users_online #usersbar {
  height: 100%;
}
#users_online ul > li {
  cursor: pointer;
  -moz-user-select: none;
}

